* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
   background: #f12711;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f5af19, #f12711);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f5af19, #f12711);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   min-height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.brightness-box {
   width: 400px;
   height: 60px;
   background: #eee;
   border-radius: 10px;
   padding: 0 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.brightness-box i {
   margin: 0 10px;
}

#range {
   width: 100%;
   height: 3px;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: #0a85ff;
   outline: none;
}

#range::-webkit-slider-thumb {
   -webkit-appearance: none;
   background: #333;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   cursor: pointer;
}

.copy-right {
   font-size: 20px;
   color: #eee;
   position: fixed;
   bottom: 1rem;
}